html {
  height: 100%;
  box-sizing: border-box;
  --border-radius: 1%;
  --board-size: 256px;
  --player-1-color: #3399ff;
  --player-2-color: #ff5050;
  --player-3-color: #ff9900;
  --player-4-color: #009900;
}

html * {
  box-sizing: inherit;
  user-select: none;
}

body {
  height: 100%;;
  margin: 0 auto;
  background: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui;
  text-align: center;
}

#defs {
  position: absolute;
  width: 0;
  height: 0;
}

h1 {
  text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    3px 4px 1px dimgrey;
    font-style: oblique
}

main {
  --border-style: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  padding: 32px 8px 8px;
  margin: 24px auto;
  border: var(--border-style);
  border-inline: 0;
  box-shadow: 4px 4px 4px grey, inset -4px -4px 4px lightgrey;
  width: 100%;
  background: white;
}

@media screen and (min-width: 400px) {
  main {
    max-width: 376px;
    border-radius: var(--border-radius);
    border-inline: var(--border-style);
  }
}

.plr-slct {
  height: var(--board-size);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#plr1::before { content: " P1 "; }
#plr2::before { content: " P2 "; }
#plr3::before { content: " P3 "; }
#plr4::before { content: " P4 "; }

circle[data-owner-id="1"],
#plr1 {
  --player-color: var(--player-1-color);
}

circle[data-owner-id="2"],
#plr2 {
  --player-color: var(--player-2-color);
}

circle[data-owner-id="3"],
#plr3 {
  --player-color: var(--player-3-color);
}

circle[data-owner-id="4"],
#plr4 {
  --player-color: var(--player-4-color);
}

#board circle:not([data-owner-id=""]) {
  fill: var(--player-color);
}

#board circle:not([data-owner-id]),
#board circle[data-owner-id=""] {
  fill: beige;
}

.player-icon {
  margin-top: 8px;
  width: 16px;
  height: 16px;
  fill: var(--player-color);
  stroke-width: 0.5;
}

.slct {
  height: 75px;
  cursor: pointer;
  box-shadow: 1px 1px 2px grey, inset 2px 2px 4px white, inset -2px -2px 2px lightgrey;
  border-radius: var(--border-radius);
  width: 32px;
  text-align: center;
  background: beige;
  border: 1px solid var(--player-color);
  color: var(--player-color);
}

.active {
  box-shadow: inset 1px 1px 4px dimgrey, inset -1px -2px 2px lightgrey;
}

.piece-count {
  font-size: 0.8rem;
}

#board-container {
  position: relative;
}

#game-over-indicator {
  width: 240px;
  height: 48px;
  background: rgba(255,255,200,0.7);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(105,105,105,0.7);
  font-weight: 900;
  font-size: 2em;
  animation: blinker 4s linear infinite;
  position: absolute;
  top: 36%;
  left: 3%;
  opacity: 0;
  pointer-events: none;
}

#game-over-indicator.visible {
  opacity: 1;
  pointer-events: all;
}

#board {
  border: 1px solid dimgrey;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px grey, inset 2px 2px 4px #e6e6e6, inset -2px -2px 4px #bfbfbf;
  background: lightgrey;
  width: var(--board-size);
  height: var(--board-size);
}

#board circle {
  stroke: black;
  stroke-width: 1;
}

.selected {
  animation: blinker 1s linear infinite;
}

#board circle.targeted {
  stroke: yellow;
}

.clickable {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

button#start {
  display: block;
  border: none;
  margin: 0 auto;
  padding: 0.5em;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  height: 40px;
}

@keyframes blinker {
  50% {
    fill: Yellow;
    color: lightgrey;
  }
}